export PGUSER=username
export PGPASSWORD=password
export PGDATABASE=postgis
export PGHOST=localhost
export PGPORT=5439
export POSTGRES_USER=username
export POSTGRES_PASSWORD=password
export POSTGRES_DBNAME=postgis
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5439
